{% extends "feeds/base.html" %}

{% block title %}
  FeedReader - {{ feed.title }}
{% endblock title %}

{% block content %}
<div class="page-header">
  <h1>Feed <small><a target="_blank" href="{{ feed.url }}">{{ feed.title }}</a></small></h1>
</div>
{% comment %}
    List entries for the specified feed
    {% endcomment %}
    {% include "feeds/entries_snippet.html" with page_obj=page_obj %}
{% comment %}
  Pagination
  {% endcomment %}
  {% include "feeds/pagination_snippet.html" with page_obj=page_obj%}
{% endblock content %}

{% block sidebar %}
  {% include "feeds/feeds_snippet.html" with list_feeds=list_feeds %}
{% endblock sidebar %}
