{% if form.errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.errors }}
    <div>
      {{ field.label_tag }}
    </div>
    <div>
      {{ field }}
    </div>
    {% if field.help_text %}
      <div>
        <p class="help">{{ field.help_text|safe }}</p>
      </div>
    {% endif %}
  </div>

{% endfor %}

{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}

